{% extends "base.html" %}

{% block content %}
<h1>편의점 상세 정보</h1>
<p>점장: {{ store.user }}</p>
<p>주소: {{ store.address }}</p>
<p>체인점 여부: {{ store.is_franchise }}</p>
<hr>
<h2>신규 상품 등록</h2>
<form action="{% url "stores:create_product" store.pk%}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="물품 등록">
</form>
<hr>
<h2>전체 상품 목록</h2>
<ul>
  {% for product in products %}
    <li>이름: {{ product.name }}</li>
    <li>가격: {{ product.price }}</li>
  {% endfor %}
</ul>

{% endblock content %}

